<p></p>
<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
  <div class="container-fluid">
    <a class="navbar-brand" href="http://localhost:4200/home">
      <i class="fas fa-user-friends"></i> | página inicial
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-targe="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-targe="#navbarNavDarkDropdown2" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="btn-group">
      <button type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        Contato
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="http://localhost:4200/contact">Lista de Contato</a></li>
        <li><a class="dropdown-item" href="#">Cadastrar Contato</a></li>
      </ul>
    </div>
    <!--
    <div class="btn-group">
      <button type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        conta
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Lista de contas</a></li>
        <li><a class="dropdown-item" href="#">Cadastrar Conta</a></li>
      </ul>
    </div>

    <div class="saque">
      <a class="btn btn-success" [routerLink]="['saque']"><i class="fa-solid fa-hand-holding-dollar"></i> | Saque</a>
    </div>
    <div class="deposito">
      <a class="btn btn-success" [routerLink]="['deposito']"><i class="fas fa-coins"></i> | Depósito</a>
    </div>
    <div class="transferencia">
      <a class="btn btn-success" [routerLink]="['transferencia']"><i class="fas fa-comments-dollar"></i> | Transfêrencia</a>
    </div>
    <div class="extrato">
      <a class="btn btn-success" [routerLink]="['extrato']"><i class="fa-solid fa-receipt"></i> | Extrato</a>
    </div>-->
  </div>
</nav>
